{% extends "/bootstrap/baseCustomer.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2 class="text-primary">Change Password</h2><br>
<!-- Change Password Form -->
<div class="fill-in">
    {% for info in user%}
    <form action="/customer/{{info.userID}}/changePassword" method="post">
        <label for="password">Password</label>
        <input type="password" name="password" required> <br>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" required> <br>
        <input class="btn bg-gradient-primary mt-4" type="submit" value="Update">
    </form>
    {% endfor %}
</div>
{% if status == 'fail' %}
Confirm Password is not same with Password. Please try again. Thank you.
{% endif %}
{% if status == 'success' %}
Updated successfully. Thank you.
{% endif %}
{% endblock %} 

