{% extends "/bootstrap/baseCustomer.html" %}
{% block title %}Subscription History{% endblock %}
{% block content %}
<h2 class="text-primary">Subscription History</h2><br>
<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order ID</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Period</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start Date</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End Date</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Confirm Date</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
          <th class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody>
          {% for items in data %}
          <tr>
            <td class="align-middle text-center text-sm">
              <p class="text-xs font-weight-bold mb-0">{{items.subHID}}</p>
          </td> 
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{items.productName}}</p>
            </td>              
              <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{items.subHDay}} Days</p>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{items.subHstatus}}</p>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{items.subHStart}}</p>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{items.subHEnd}}</p>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{items.confirmDate}}</p>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">$ {{items.subAmount}}</p>
              </td>
            <td class="align-middle">
              <div class="buttons">
                <button type="button" class="btn bg-gradient-primary mt-4" onclick="window.location.href='/customer/{{items.userID}}/uploadDocument/{{items.payID}}'">Upload</button>
              </div>
           </td>
          </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
