{% extends "/bootstrap/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-7 d-flex justify-content-center flex-column">
        <!-- Description box -->
        <div class="card card-body blur d-flex justify-content-center shadow-lg p-5 mt-5">
            <h1 class="text-gradient text-primary">Online Subscription</h1>
            <h1 class="mb-4"></h1>
            <p class="lead pe-5 me-5">Various of system, e.g. Route system, loan system etc.</p>
            <div class="buttons">
                <button type="button" class="btn bg-gradient-primary mt-4" onclick="window.location.href='/product'">Product</button>
            </div>
            <div class="buttons">
                <button type="button" class="btn bg-gradient-primary mt-4" onclick="window.location.href='/login'">Sign In</button>
            </div>
        </div> 
    </div>
</div>
{% endblock %}