{% extends "/bootstrap/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2 class="text-primary">Login</h2>
<div class="fill-in">
    <form action="/login" method="post">
        <label for="accType" id="accType">Login as</label>
        <select id="accType" name="accType">
            <option value="C">Customer</option>
            <option value="S">Staff</option>
        </select> <br>
        <label for="userName">User Name</label>
        <input type="text" name="userName" required> <br>
        <label for="password">Password</label>
        <input type="password" name="password" required> <br>
        <input type="submit" class="btn bg-gradient-primary mt-4" value="Login"> <br>
    </form>
</div>
<a href="/forgotPassword"> Forgot password </a> <br>
<a href="/signup"> Sign up </a>
{% if status == 'fail' %}
Your username or password is not correct.
{% endif %}
{% endblock %}
